.modal__channel {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.6);
  visibility: hidden;

  .modal-container {
    position: relative;
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 3.5rem 2rem 2rem;
    border-radius: 0.5rem;
    background-color: $clr-bg-dark;

    h3 {
      margin: 0;
      text-transform: uppercase;
      font-size: 20px;
    }

    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 26px;
    }
  }

  button,
  h3 {
    color: $clr-text;
  }

  &--open {
    visibility: visible;
  }
}

.form__channel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

  & > div {
    width: 100%;
  }

  input,
  textarea {
    font-family: "Lora", serif;
    font-size: 20px;
    width: 100%;
    display: block;
    background-color: $clr-bg-light;
    border: 1px solid $clr-bg-light;
    border-radius: 0.4rem;
    margin: 1rem 0;
    padding: 0.8rem 0.5rem;
    color: $clr-text-dark1;
    resize: none;
  }

  input:focus,
  textarea:focus {
    border: 1px solid $clr-text;
  }

  button {
    position: absolute;
    right: -1rem;
    bottom: -0.5rem;
    background-color: $clr-button;
  }

  button:hover {
    background-color: $clr-text-black;
  }
}

@media (max-width: 1000px) {
  .form__channel {
    input,
    textarea {
      font-size: 16px;
    }
  }
}
