.wrapper {
  position: relative;
  display: flex;
  height: 100vh;

  button {
    font-family: "Lora", serif;
    font-size: 22px;
  }

  &__aside {
    width: 25%;
    background-color: $clr-bg-dark;
    padding: 0 1.5rem 2rem;
    position: relative;

    .top {
      justify-content: space-between;
    }

    &--content {
      height: 100%;
      padding-top: 3rem;
      color: $clr-text;

      .account {
        position: absolute;
        width: 80%;
        bottom: 2rem;
        left: 1.5rem;

        button {
          color: $clr-text;
          padding-left: 0;
        }

        img {
          width: 40px;
          margin-right: 0.5rem;
        }

        &__icon {
          display: flex;
          margin-left: 1rem;
          align-items: center;

          &--open {
            transition: $transition-btn;
            transform: rotate(180deg);
          }
        }
      }

      .rooms {
        button {
          display: block;
          text-transform: capitalize;
          text-align: left;
          padding-left: 0;
          color: $clr-text;
        }
      }

      .modal__account {
        position: absolute;
        bottom: 5rem;
        right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        visibility: hidden;
        background-color: $clr-bg-light;

        p {
          margin-left: 0.5rem;
        }

        button {
          color: $clr-text;
        }

        &--open {
          visibility: visible;
        }
      }
    }
  }

  &__main {
    width: 75%;
    background-color: $clr-bg-light;
    padding: 4rem 4rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &--messages {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      overflow: auto;
    }
  }
}

.message {
  display: grid;
  margin: 0.7rem 0;
  grid-template-columns: 70px 150px 1fr;
  grid-template-rows: auto;

  &--sent {
    color: $clr-button;
  }

  &--received {
    color: $clr-text-dark1;
  }

  p {
    margin: 0;
  }

  &__img {
    grid-row: 1/3;
    display: block;
    width: 50px;
    border-radius: 0.2rem;
  }

  &__user {
    text-transform: capitalize;
  }

  &__text {
    color: $clr-text;
    grid-column: 2/4;
  }

  &__date {
    color: $clr-text-dark2;
  }
}

.top {
  display: flex;
  align-items: center;
  width: 80%;
  font-size: 26px;
  position: absolute;
  top: 0;
  color: $clr-text;
  z-index: 2;
  height: 60px;

  button {
    color: $clr-text;
  }

  &__close {
    display: none;
  }

  &__hamburger {
    display: none;
  }
}

.current-channel {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  margin: 1rem 0;
}

@media (max-width: 1300px) {
  .wrapper {
    &__aside {
      width: 35%;
    }
    &__main {
      width: 65%;
    }
  }
}

@media (max-width: 1000px) {
  .wrapper {
    display: block;

    &__aside {
      transform: translateX(-150%);
      position: absolute;
      height: 100%;
      z-index: 3;
      width: 40%;
      transition: $transition-btn;

      .top {
        justify-content: start;
      }

      &-open {
        transform: translateX(0);
      }
    }
    &__main {
      overflow: hidden;
      width: 100vw;
      height: 100vh;
      padding: 2rem 1.5rem 1rem 1rem;
    }
  }

  .top {
    font-size: 22px;

    &__hamburger {
      display: block;
      margin-right: 1rem;
      font-size: 26px;
    }

    &__close {
      position: absolute;
      display: block;
      right: -1rem;
      top: 1rem;
      font-size: 26px;
    }
  }

  .current-channel {
    font-size: 20;
  }
}

@media (max-width: 600px) {
  .wrapper {
    &__aside {
      width: 70%;
    }

    button {
      font-size: 18px;
    }
  }
}
