.welcome {
  background-color: $clr-bg-dark;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $clr-text;

  &__title {
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
  }

  button {
    margin-top: 1rem;
    color: $clr-bg-dark;
    background-color: $clr-button;
    transition: $transition-btn;
  }

  button:hover {
    background-color: $clr-bg-light;
    color: $clr-text;
  }
}
