$clr-bg-dark: #0f0e17;
$clr-bg-light: #232946;
$clr-bg-input: #3d4770;
$clr-text: #ffffee;
$clr-text-dark1: #a7a9be;
$clr-text-dark2: #7e7f8f;
$clr-text-black: #333333;
$clr-button: #ff8906;
$transition-btn: all 0.3s linear;
